// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", Arial, sans-serif;
  background: #1a202c;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

// Container
.container {
  max-width: 1300px;
  margin: auto;
}

#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.filters {
  display: flex;
  width: 100%;
  align-items: center;
}

.list-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

.list-container-similar {
  display: flex;
  justify-items: center;

  // Card | List Item
  .card-smiliar {
    display: flex;
    margin: 0rem 0.1rem 0rem;
 
    img {
      // object-fit: cover;
      width: 100%;
    }
    h3 {
      font-size: 1rem;
      color: white;
    }
    &:hover {
      opacity: 0.75;
    }
    p {
      font-weight: 200;
    }
  }
}

#filter {
  width: 150px;
  height: 150px;
  background-image: ("src/assets/filter.png");
  background-size: cover;
}

.login {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
}

// Card | List Item
.card {
  margin: 1rem;
  img {
    // object-fit: cover;
    max-width: 100%;
  }
  h3 {
    font-weight: 400;
    color: white;
  }
  &:hover {
    opacity: 0.75;
  }
  p {
    font-weight: 200;
  }
}

// Movie | Serial | Actor Details Page
.details {
  position: relative;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;

  img {
    width: 100%;
    min-width: 420px;
    max-width: 420px;
    padding: 1rem 1rem;
  }
  .desc {
    margin: 1.5rem 1rem 2rem;
    h2 {
      font-size: 1.5rem;
      font-weight: 400;
      color: white;
    }
    span {
      font-weight: 10;
      font-size: 1.1rem;
    }
    p {
      margin: 1rem 0;
      font-weight: 5;
      font-size: 1.1rem;
    }

    .menu {
      display: grid;
      align-items: center;
      color: black;
      gap: 10px;

      .torrent {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .subtitles {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .seasom-episode {
        display: flex;
        align-items: center;
        color: black;
        gap: 10px;

        .Select-seasom {
          max-width: 145px;
          min-width: 145px;
        }
        .Select-episode {
          max-width: 145px;
          min-width: 145px;
        }
      }

      .options {
        display: flex;
        gap: 10px;
      }
    }

    .detailsEpisode {
      position: relative;
      display: flex;
      max-width: 1000px;
      align-items: flex-start;

      img {
        width: 35%;
        padding: 1rem 1rem;
      }
      .descEpisode {
        margin: 1rem 0rem 1rem;

        h2 {
          font-size: 1rem;
          font-weight: 400;
          color: white;
        }
        span {
          font-weight: 5;
          font-size: 1rem;
        }
        p {
          margin: 1rem 0;
          font-weight: 5;
          font-size: 1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .list-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .details {
    img {
      width: 70%;
      padding: 1rem 1rem 0;
    }
    flex-direction: column;
    align-items: center;
    .desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      .genres {
        text-align: center;
      }
      p {
        position: static;
        text-align: center;
      }
    }
  }
}
